<% if notice %>
 <aside id="notice"><%#= notice %></aside>
<% end %>
<table>
  <thead>
  <tr>
    <th>user ID</th>\
    <th>Order ID</th>
    <th>user name</th>
    <th>Car Name</th>
    <th>Price</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  <%#= @user.orders%>

  <% @user.orders.each do |order| %>
  <tr>
    <td><%= @user.id%></td>
    <td> <%= order.id %></td>
    <td> <%= order.name %></td>

    <td><%= order.product.title%></td>
    <td><%= order.product.price%></td>
  </tr>
  <% end %>
  </tbody>
  </table>


